<div class="text-center border pt-4 pb-4 ml-lg-4">
 <div class="mb-2">
    <% if @agent.image.present? %> 
      <%= image_tag @agent.image, class: "mt-4 profile-pic img-circle" %>
</div>   
<% end %>
<h3 class="h4 m-0"> <%= @agent.full_name %></h3>
    <p><%= @agent.company %></p>
    
    <button class="btn btn-block btn-info text-uppercase mb-4"  id="show-tel" data-telephone="<%= @agent.telephone %>"><i class="fas fa-phone mr-2"></i> Call</button>
    
    <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-secondary text-uppercase" %>
    <button class="btn btn-success text-uppercase">Email</button>
</div>