<head> 
<script src="https://kit.fontawesome.com/65760553a2.js" crossorigin="anonymous"></script>
</head>

<% @properties.each do |property| %>
    <div class="col-4" style="padding: 20px;">
        <%= link_to(property_thumbnail(property), property_path(property)) %>
        <h3 class="h5 mt-3"><%= link_to property.name, property_path(property) %></h3>
        <p><%= property.address %></p>
        <div class="amenities">
            <i class="fas fa-bed"></i> <%= property.rooms %>
            <i class="fas fa-bath"></i> <%= property.bathrooms %>
            <i class="fas fa-car"></i> <%= property.parking_spaces %>
        </div>
    </div>
 

<% end %>