<%# <%= property_photo_url(@property) %> 

<div class="property-main-photo" style="background-image:url('<%= property_photo_url @property %>')">
  <div photo-overlay>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8"> 
      <div class="row">
      <div class="col-6"> 
          <p class="mb-0"><%= @property.address %> </p>
          <p class="h2">For Sale<p>
      </div>

      <div class="col-6 text-center bg-light p-3"> 
        <div class="row">
          <div class="col-4">
            <p class="m-0"><strong>Rooms</strong></p>            
            <span class="lead"><%= @property.rooms %></span>
          </div>
          <div class="col-4">
            <p class="m-0"><strong>Bathrooms</strong></p>
            <span class="lead"><%= @property.bathrooms %></span>
          </div>
          <div class="col-4">
            <p class="m-0"><strong>Parking Spaces</strong></p>
            <span class="lead"><%= @property.parking_spaces %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col"> 
        <p>
          <strong>Name:</strong>
          <%= @property.name %>
        </p>
        <p>
          <strong>address:</strong>
          <%= @property.address %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= @property.price %>
        </p>
        <p>
          <strong>Rooms:</strong>
          <%= @property.rooms %>
        </p>
        <p>
          <strong>Bathrooms:</strong>
          <%= @property.bathrooms %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <%= render "properties/agent_details" %>
  </div>
</div>