<!DOCTYPE html>
<html>
  <head>
    <title>ThePropertyFinderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_pack_tag 'application' %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url "favicon/apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url "favicon/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url "favicon/favicon-16x16.png" %>">
    <link rel="manifest" href="<%= asset_url "favicon/site.webmanifest" %>">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  
  </head>
  
  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
  <% if @show_sidebar.nil? %>    
      <header>
      <%= render "layouts/nav/public" %>
      </header>    

    <%= yield %>
  <% else %>
      <%= render "layouts/nav/dashboard" %>
  
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/nav/sidebar" %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
      <%= yield %>
    </main>
  </div>
</div> 
<% end %>


    <%# <%= render "layouts/footer" %> 

<div id="notifications"><%= flash_notifications %></div>






<script>feather.replace()</script>
  </body>
  
</html>

